html {
  font-size: $font-size;
}

body {
  font-size: $font-size;
  font-family: $font-main;
  //TODO: убрать, когда сформируем страницу
  overflow-y: scroll;
}

a{
  color: $color-primary;
  transition: color 0.4s;
 
  &:hover{
    color: $color-accent;
    text-decoration: none;
  }
}

