.footer {
  background-color: $color-dark;
  padding-top: 45px;
}

.footer-title {
  color: $color-light;
}

.footer-text {
    transition: all .2s;
  margin-bottom: 0;
  a {
    color: #777777;
  }
  
}
.footer-text:hover{
    a{
      color: #ffffff;
    }
}

.footer-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
  &-title {
      font-weight: 700;
    text-align: center;
    a {color: #fbfbfb;
    }
  }
  &-info {
    font-size: 0.6rem;
    text-align: center;
    a {color: #777777;
    }
  }
}
