.left-sidebar {
  margin-bottom: 80px;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.site-news-item {
  position: relative;
  clear: both;
  margin-bottom: 15px;
 

  &:hover .site-news-item__image {
    background-color: $color-accent;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
    min-height: 85px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    width: calc(100% - 85px);
    height: 1px;
    background-color: $color-gray;
  }

  &__image {
    width: 75px;
    float: left;
    margin: 0 10px 10px 0;
  }
  &__title {
    margin-bottom: 10px;
    overflow: hidden;
    @include block-shortener($fz: 1rem, $lh: 1.5, $h: 50px, $l: 2);
  }
  &__day {
    text-align: right;
    margin-bottom: 10px;
    font-size: 0.8rem;
    color: darken($color-gray, 30%);
  }
}

.panel-body {
  padding-left: 15px;
  padding-right: 15px;
}

.top-films {
  &__list {
    margin-bottom: 0;
  }
  &__item {
    position: relative;
    background-color: $color-gray2;
    padding: 0;
    border: none;
    border-radius: 0;
    a {
      display: block;
      padding: 10px 40px 10px 5px;
      transition: all 0.3s;
      &:hover {
        background-color: $color-accent;
        color: $color-light;
        .top-films__badge {
          background-color: $color-dark;
        }
      }
    }
  }
  &__item:not(:last-child) {
    border-bottom: 1px solid #dddddd;
  }
  &__badge {
    transition: background-color 0.3s;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
