$color-primary: #165690;
$color-primary2: #053159;
$color-primary3: #517ba2;
$color-accent: #df8a13;
$color-dark: #232323;
$color-dark2: #191919;
$color-gray: #dddddd;
$color-gray2: #f1f1f1;
$color-light: #ffffff;


